.box-homes .header{
    background: rgba(0, 0, 0, 0) url('../images/bgv.png') no-repeat scroll left center;
}
table {
    background-color: transparent;
}
.box-homes table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px 0px;
    width: 100%;
}
.box-homes table tr:first-of-type {
    background: #2e9610 none repeat scroll 0 0;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.box-homes td {
    border: 1px solid #2e9610;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
}
.news-page .row {
    padding-left: 10px;
}
.news-page .row .col .card {
    padding-left: 2%;
}
.col,
.col .card {
    min-height: 375px;
}
.card .none {
    text-align: center;
}
.post_info p {
    font-size: 11px;
}
.card .card-block .card-title {
    font-weight: 600;
}
.page-teacher .row {
    width: 100%;
    margin: 0 auto;
}
.view a {
    padding-right: 0;
}
.page-teacher .card h4,
.page-teacher .card ul,
.page-teacher .card p {
    padding-left: 2%;
}
.page-teacher .card p {
    text-align: justify;
    padding-right: 2%;
}
.card .info {
    padding: 2%;
    margin-bottom: 2%;
}
.card .info span {
    font-size: 15px;
}
.media-heading {
    font-weight: 600;
    text-transform: capitalize;
}
